# Directories to ignore
.idea/
Data/
Presentations/
Papers/
Resources/
Results/
Code/.idea/
Code/unused/
Code/.ipynb_checkpoints/
Code/__pycache__/
Code/performance/__pycache__/
Code/performance/final/data/
Mendota/.ipynb_checkpoints/
Mendota/__pycache__/
